<%- include('layout/header')  %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mt-3 mb-3">درباره تلویزیون ملی افغانستان</h2>
            <p>
                رادیو تلویزیون ملی افغانستان نشرات خود را برای اولین‌بار به‌گونه صوتی زیر نام رادیو کابل در سال ۱۳۰۴ خورشیدی آغاز کرد و پس از آن زیر نام رادیو ملی افغانستان به نشراتش ادامه داد و در ۲۸ جدی سال ۱۳۵۷ خورشیدی نشرات خود را به‌گونه تصویری آغاز کرد.
<br><br>
رادیو تلویزیون ملی افغانستان از زمان آغاز نشرات تا کنون جایگاه خود را در میان مردم حفظ کرده است و وظیفه ملی خود را در قسمت روشن‌کردن اذهان عامه و منافع ملی کشور صادقانه انجام داده است. این تلویزیون که در سراسر کشور نشرات و نمایندگی دارد در حقیقت یک ارگان نشراتی دولت به‌حساب می‌رود.
            </p>
        </div>
    </div>
</div>

<%- include('layout/footer')  %>